# Ignore all datasets
data/**
!data/.gitkeep   # allow an empty placeholder file

# Ignore model artifacts
# Models
*.pkl
notebooks/models/
models/

# datasets
data/
*.csv

# Ignore environment and credentials
*.env
*.json
